<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Minesweeper</h5>
    <h6 class="card-subtitle mb-2 text-muted">Java - JavaFX</h6>
    <p class="card-text">
      My very first graphical project using Java. I used the JavaFX library to
      create a Minesweeper game that works in the same way and with the same rules
      as the classic Minesweeper. This program can be installed on any machine
      running Windows with an x64 processor, or MacOS with an M-series (ARM) processor,
      without any prerequisites thanks to the following installers.
    </p>
    <a href="#" class="card-link">Download MacOS Installer</a>
    <a href="#" class="card-link">Download Windows Installer</a>
    <a href="#" class="card-link">See on Github</a>
  </div>
</div>
