.mw-375px{
    max-width: 375px;
}

:root{
    /*gris*/
    --oc-gray-0: #f8f9fa;
    --oc-gray-1: #f1f3f5;
    --oc-gray-2: #e9ecef;
    --oc-gray-3: #dee2e6;
    --oc-gray-4: #ced4da;
    --oc-gray-5: #adb5bd;
    --oc-gray-6: #868e96;
    --oc-gray-7: #495057;
    --oc-gray-8: #343a40;
    --oc-gray-9: #212529;

    /*Blue*/
    --oc-blue-0: #e7f5ff;
    --oc-blue-1: #d0ebff;
    --oc-blue-2: #a5d8ff;
    --oc-blue-3: #74c0fc;
    --oc-blue-4: #4dabf7;
    --oc-blue-5: #339af0;
    --oc-blue-6: #228be6;
    --oc-blue-7: #1c7ed6;
    --oc-blue-8: #1971c2;
    --oc-blue-9: #1864ab;

    /*Fonts*/
    --font-navbar: "Lato";
    --font-page-title: "Poppins";
}
